* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1170px;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px !important;
    margin: auto;
  }
}